<mat-nav-list>
    <h2>Welcome User,</h2>
    <mat-divider></mat-divider>
    <h3 matSubheader>Pages</h3>
    <mat-divider></mat-divider>
    
    <ul style="list-style-type:none;">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="list-item-active">
        <a [routerLink]="[menuItem.path]">
            <br>
            <img class="menuImages" src="{{menuItem.icon}}" alt="citi">
                    {{menuItem.title}}
        </a>

     </li>
     </ul>
    <mat-divider></mat-divider>
    <h2 matSubheader>Contact Us</h2>
    <a mat-list-item routerActiveLink="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
    </a>
</mat-nav-list>

