<mat-toolbar  style="background-color:#203764;color: white;">
    <mat-toolbar-row>
       <img class="img-respo" src="assets/img/citii-logo.jpg" alt="citi">
  <br>
  <h4 class="text">NAM DevOps Portal</h4>
  <mat-toolbar-row>
    <button mat-icon-button style="color: white;" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    <span class="menu-spacer"></span>
    <div>
      <a class="text" mat-button [routerLink]="'/'"> Dashboard </a>
      <a class="text" mat-button [routerLink]="'/posts'"> HealthCheck </a>
      <a class="text" mat-button [routerLink]="'/contacts'">Incidents </a>
      <a  class="text"mat-button [routerLink]="'/create-contact'">Greenzone Management</a>
      <a class="text" mat-button disabled [routerLink]="'/activities'"> Change Management </a>
      <a class="text" mat-button disabled [routerLink]="'/create-activity'"> Defect Management </a>
      <a class="text"  mat-button disabled [routerLink]="'/create-activity'"> Patch Management </a>

    </div>
  </mat-toolbar-row>

   <div  fxFlex fxLayout="row" fxLayoutAlign="flex-end">
       <ul fxLayout="row" fxLayoutGap="20px">
           <li>
             <button mat-icon-button>
                 <mat-icon>settings</mat-icon>
             </button>
           </li>
           <li>
            <button mat-icon-button>
                <mat-icon>help_outline</mat-icon>
            </button>
          </li>
          <li>
           <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
         <mat-menu #menu="matMenu">
             <button mat-menu-item>
               <mat-icon>exit_to_app</mat-icon>
                 Sign out
             </button>
         </mat-menu>
        </li>

       </ul>
   </div>
    </mat-toolbar-row>
</mat-toolbar>




<!-- Main Navigation
<header class="intro-header">

    Navbar
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>MDB</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </links>
    </mdb-navbar>

    <!--Intro Section
    <section class="view intro-2">
      <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row flex-center pt-5 mt-3 w-100">
              <div class="col-md-6 text-center text-md-left mb-5">
                <div class="white-text">
                  <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right
                    now! </h2>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                    Commodi sequi
                    non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                  <br>
                  <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                    mdbWavesEffect>Learn more</a>
                </div>
              </div>

              <div class="col-md-6 col-xl-5 offset-xl-1">
                <!--Form
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                  <mdb-card-body>
                    <!--Header
                    <div class="text-center">
                      <h3 class="white-text">
                        <mdb-icon fas icon="user" class="text-white"></mdb-icon> Register:</h3>
                      <hr class="hr-light">
                    </div>
                    <!--Body
                    <div class="md-form">
                      <mdb-icon fas icon="user" class="text-white active"></mdb-icon>
                      <input type="text" id="form3" class="text-white form-control" mdbInput>
                      <label for="form3" class="text-white">Your name</label>
                    </div>
                    <div class="md-form">
                      <mdb-icon fas icon="envelope" class="text-white active"></mdb-icon>
                      <input type="email" id="form2" class="text-white form-control" mdbInput>
                      <label for="form2" class="text-white">Your email</label>
                    </div>
                    <div class="md-form">
                      <mdb-icon fas icon="lock" class="text-white active"></mdb-icon>
                      <input type="password" id="form4" class="text-white form-control" mdbInput>
                      <label for="form4" class="text-white">Your password</label>
                    </div>
                    <div class="text-center mt-4">
                      <button mdbBtn color="indigo" mdbWavesEffect>Sign up</button>
                      <hr class="hr-light mb-3 mt-4">
                      <div class="inline-ul text-center d-flex justify-content-center">
                        <a class="p-2 m-2 tw-ic">
                          <mdb-icon fab icon="twitter" class="text-white"></mdb-icon>
                        </a>
                        <a class="p-2 m-2 li-ic">
                          <mdb-icon fab icon="linkedin-in" class="text-white"></mdb-icon>
                        </a>
                        <a class="p-2 m-2 ins-ic">
                          <mdb-icon fab icon="instagram" class="text-white"></mdb-icon>
                        </a>
                      </div>
                    </div>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Form
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </header>
  <!--Main Navigation-->

 

 