ul li{
    list-style: none;
}
.img-responsive{
    width:15%;
}

.text{
    padding:5px;
    text-align: center;
    text-indent: 10px;
    font-family: "Times New Roman", Times, sans-serif;
    text-size-adjust: 3;
    font-size: 0.875em;
    
}
.img-respo{
    width:3%;
}

.bgpicture{
    background: url('/src/assets/devops5.jpg')no-repeat center center;
    background-size: cover;
}



 