 

  
.image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}
.image2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}


.stats-cards{
  width: 60%;
  display: block;
  margin-left: 20%;
  align-content: center;
}

p {
  width: 20px;
}
  
.intro-2{

  background: url('src\assets\img\bg2.png')no-repeat center center;
  background-size: cover;
}

.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}
.view {
  height: 100vh !important;
 }