
<section class="view intro-2 rgba-gradient">
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="stats-cards">
  
    <div class="item">
      
         <img  class= "image1" src="assets/img/dashboard.png" alt="Incident">
         
         <button class="text" mat-stroked-button [routerLink]="'/'"> Dashboard Check </button>
       
        </div>
        <div class="item">
        <img  class= "image1" src="assets/img/health.png" alt="Health">
        <!-- <button mat-stroked-button color="primary">HealthCheck</button>   -->
        <button class="text" mat-button [routerLink]="'/posts'"> HealthCheck </button>
      </div>
  
      <div class="item">
        <img  class= "image2" src="assets/img/incident.png" alt="Incident Management">
        <button mat-stroked-button color="primary">Incidents</button>
      </div>
      <div class="item">
        <img  class= "image1" src="assets/img/greenzone.png" alt="Greenzone Management">
        <button mat-stroked-button color="primary">Greenzone Management</button>
      </div>
     
        
      </div>
    
  <br>
  <br>
  <br>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="stats-cards">
    <div class="item">
      <img  class= "image1" src="assets/img/change.png" alt="ChangeManagement">
      <button mat-stroked-button color="primary">Change Management</button>
      </div>
    <div class="item">
      <img  class= "image1" src="assets/img/defect.jpeg" alt="DefectManagement">
      <button mat-stroked-button color="primary">Defect Management</button>
      </div>
      <div>
      <img  class= "image1" src="assets/img/patch.png" alt="PatchManagement">
      <button mat-stroked-button color="primary">Patch Management</button>
      </div>
      <div class="item">
      <img  class= "image1" src="assets/img/code.png" alt="CodeDropManagement">
      <button mat-stroked-button color="primary">CodeDrop Management</button>
      </div>
      
  </div>
   <br>
  <br>
  <br>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="stats-cards">
   
    <div class="item">
   <img  class= "image1" src="assets/img/certificate.jpeg" alt="CertificateManagement">
   <button mat-stroked-button color="primary">Certificate Management</button>
   </div>
  
  </div>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  
  </section>
  